#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 0 10px;
  text-align: center;
  box-sizing: border-box;
}

.button-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 24px;
  flex-wrap: wrap;
}

.big-button,
.logout-button {
  --width: 40%;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 16px;
  margin: 8px;

  border-radius: 12px;
  color: #fff;
  text-align: center;
  transition: transform 0.2s ease-in-out, background-color 0.3s;
}

.big-button:hover,
.logout-button:hover {
  transform: translateY(-4px); /* Lift effect */
}

.button-icon {
  font-size: 40px; /* Adjust size as needed */
  color: #fff;
  padding: 10px;
}

.button-text {
  margin-top: 10px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
}

/* Specific styling for the logout button */
.logout-button {
  height: var(--height); /* Matches the height of the big buttons */
  width: var(--width); /* Matches the width of the big buttons */
}

ion-content {
  --padding: 5%;
  --background: url("../../../assets/images/BACKDROP.png") center center / cover
    no-repeat;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Media Queries */
@media (max-width: 767px) {
  .button-row {
    flex-direction: column;
  }

  .big-button,
  .logout-button {
    --width: 44%;
    margin: 12px 0;
    text-align: center;
  }
  .logout-button {
    height: 9%;
  }

  .button-icon {
    font-size: 40px; /* Smaller on phones */
  }

  .button-text {
    font-size: 14px;
    text-align: center;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .big-button,
  .logout-button {
    --width: 40%;
  }

  .button-icon {
    font-size: 40px; /* Slightly larger on phones */
  }

  .button-text {
    font-size: 15px;
    text-align: center;
    padding: 5px;
  }
}
